name: Build binaries

on:
  workflow_dispatch:
    inputs:
      libwebp_ref:
        description: 'libwebp tag to checkout (i.e. v1.2.3)'
        required: true
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-binaries:
    runs-on: ubuntu-latest
    steps:
      # From <https://github.com/actions/runner-images/issues/2840>
      - name: Free up disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - run: git -C libwebp-jni/libwebp checkout ${{ inputs.libwebp_ref }}

      - run: cd libwebp-jni && ./compile-all.sh

      - run: git status

      - uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.PUBLIC_REPO_TOKEN }}
          commit-message: "Build libwebp binaries. version ${{ inputs.libwebp_ref }}"
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          delete-branch: true
          title: "Build libwebp binaries, version `${{ inputs.libwebp_ref }}`"
          body: |
            Build libwebp binaries, version [${{ inputs.libwebp_ref }}](https://chromium.googlesource.com/webm/libwebp/+/refs/tags/${{ inputs.libwebp_ref }})
